<h> hi this is user role page </h>
<table>	
<tr>
    <th>user_role</th>
    </tr>

    <% @user_role.each do |u| %>
    <tr>
    <td><%= u.role_name %></td>
  <td>  <%= link_to 'show', user_role_path(u) %></td>
    </tr>
    <% end %>
    </table>
