
<p>Find me in app/views/city/index.html.erb</p>
<h> hi this is all city  page </h>
<table>	
<tr>
    <th>city_name</th>
    </tr>

    <% @cities.each do |u| %>
    <tr>
    <td><%= u.city_name %></td>

    <td><%= link_to 'show', city_path(u) %>
    </tr>
    <% end %>
    </table>
 <div >
</div>


