
<p>
  <strong>user_id</strong>
  <%= @image.user_id %>
</p>


<p>
  <strong>real_name</strong>
  <%= @image.real_name %>
</p>


<p>
  <strong>image_name</strong>
  <%= image_tag(@image.image_name.url, size: "100x100")%>
</p>